.msg-section {
    width: 100%;
}

.msgs {
    width: 100%;
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 20px;
}

.msgs::-webkit-scrollbar {
    display: none;
}

.recieve {
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.3);
}

.send {
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.5);
    float: right;
}

.mesg{
    margin: 10px;
    overflow: hidden;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    clear: both;
}

.send .decrypt-btn {
    color: gray;
}

.recieve .decrypt-btn {
    color: lightgray;
}

.decrypt-btn {
    font-size: 0.8rem;
    opacity: 0.5;
    cursor: pointer;
    margin: 0.5rem 0 0;
}

.reciever {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.reciever img {
    height: 40px;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    color: lightblue;
    background: none;
    outline: none;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.footer button:hover {
    color: rgb(149, 208, 228);
}